.steps{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    gap: 4rem;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
}

.steps::after{
    content: "";
    width: 380px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
}

.step{
    text-align: center;
    background-color: #fff;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
    transition: 0.3s;
}

.step svg{
    font-size: 1.6rem;
    margin-bottom: .2rem;
}


.active {
    font-weight: bold;
}

.active > svg {
    fill: #7076f4;
}
